EXERCISE 1

NO1

In [1]:
print("\ta\tb\tc")

	a	b	c

In [2]:
print("\\\\")

\\

In [3]:
print("'")

'

In [4]:
print("\"\"\"")

"""

In [7]:
print("C:\nin\the downward spiral")

C:
in	he downward spiral

NO2

In [9]:
print("/ \ // \\\\ /// \\\\\\")

/ \ // \\ /// \\\

NO3

In [14]:
print('This quote is from Irish poet Oscar Wilde: \n"Music makes one feel so romantic \n- at least it always gets on one\'s nerves – \nwhich is the same thing nowadays."')

This quote is from Irish poet Oscar Wilde:
"Music makes one feel so romantic
- at least it always gets on one's nerves –
which is the same thing nowadays."

In [22]:
print('A "quoted" String is \n\'much\' better if you learn \nthe rules of "escape sequences." \nAlso, "" represents an empty String. \nDon\'t forget: use \" instead of " ! \n\'\' is not the same as "')

A "quoted" String is
'much' better if you learn
the rules of "escape sequences."
Also, "" represents an empty String.
Don't forget: use " instead of " !
'' is not the same as "

NO5

In [24]:
print(9 / 5)
print(695 % 20)
print(7 + 6 * 5)
print(7 * 6 + 5)
print(248 % 100 / 5)
print(6 * 3 - 9 / 4)
print((5 - 7) * 4)
print(6 + (18 % (17 - 12)))

1.8
15
37
47
9.6
15.75
-8
9

EXERCISE 2

In [2]:
#1 Write a program that finds the maximum value of the given list, assuming that the list contains at least one element. 
def find_max_value(num_list):
    max_value = num_list[0]

    for num in num_list:
        if num > max_value:
            max_value = num

    return max_value

test_array = [2, 4, 7, 4, 23, 5, 1, 4, 8, 9]
result = find_max_value(test_array)

print(result)

23

In [7]:
#2 Write a program that calculates the average value of the given list. 
def avg_value(given_list):
    average = sum(given_list)/len(given_list)
    
    return average
test_list = [4, 7, 1, 5, 11, 53, 12, 46, 84, 23]
result = avg_value(test_list)

print(result)

24.6

In [9]:
#3 Write a program that prints the given list of integers in reverse order. 
def reverse_list(given_list):
    reverse_lst = given_list[::-1]
    
    return reverse_lst
test_list = [2, 6, 7, 45, 23, 53, 14, 45, 89, 5 ]
result = reverse_list(test_list)

print(result)

[5, 89, 45, 14, 53, 23, 45, 7, 6, 2]

In [22]:
#4 Write a program that accepts two lists of integers and prints true if each element in the first list is less than the element at the same index in the second list. Your program should print false if the lists are not the same length. 
def compare_list(lst1, lst2):
    if len(lst1) != len(lst2):
        print("False")
        return
    
    for i in range(len(lst1)):
        if lst1[i] >= lst2[i]:
            print("False")
            return
    print("True")
list_1 = [4, 7, 1, 5, 11, 53, 12, 46, 84, 23 ]
list_2 = [2, 6, 7, 45, 23, 53, 14, 45, 89, 5 ]
result = compare_list(list_1, list_2)
print(result)

False
None

In [28]:
#5 Write a program that accepts a list of integers and two indexes and swaps the elements at those indexes 
def swap_index(num_list, index_1, index_2):
    if 0 <= index_1 < len(num_list) and 0 <= index_2 < len(num_list):
        num_list[index_1], num_list[index_2] = num_list[index_2], num_list[index_1]
        print(num_list)
    else: 
        print("invalid input")
    return
test_list = [4, 7, 1, 5, 11, 53, 12, 46, 84, 23 ]
result = swap_index(test_list, 0, 1)

[7, 4, 1, 5, 11, 53, 12, 46, 84, 23]

In [33]:
#6  Write a program that accepts two lists of integers and prints a new list containing all elements of the first list followed by all elements of the second. 
def merge_list(list1, list2):
    new_list = list1 + list2
    
    return new_list
list_1 = [4, 7, 1, 5, 11, 53, 12, 46, 84, 23 ]
list_2 = [2, 6, 7, 45, 23, 53, 14, 45, 89, 5 ]
result = merge_list(list_1, list_2)
print(result)

[4, 7, 1, 5, 11, 53, 12, 46, 84, 23, 2, 6, 7, 45, 23, 53, 14, 45, 89, 5]

In [42]:
#7 Write a program that accepts a list of integers and an integer value as its parameters and prints the last index at which the value occurs in the list. The program should print –1 if the value is not found. For example, in the list [74, 85, 102, 99, 101, 85, 56], the last index of the value 85 is 5. 
def num_last_index(num_list, num):
    if num not in num_list:
        print(-1)
        return
    
    last_index = -1
    for i in range(len(num_list)):
        if num_list[i] == num:
            last_index = i
            
    print(last_index)    
list_1 = [4, 7, 1, 4, 11, 53, 12, 4, 84, 23 ]
result = num_last_index(list_1, 4)

7

#8 Write a program that prints the range of values in a list of integers. The range is defined as 1 more than the difference between the maximum and minimum values in the list. For example, if a list contains the values [36, 12, 25, 19, 46, 31, 22], the program should return 35. You may assume that the list has at least one element. 
def value_range(lst):
    val_range = (max(lst) - min(lst)) + 1
    
    return val_range

list_1 = [4, 7, 1, 4, 11, 53, 12, 4, 84, 23 ]
result = value_range(list_1)
print(result)

In [8]:
#9 Write a program that accepts a list of integers, a minimum value, and a maximum value and prints the count of how many elements from the list fall between the minimum and maximum (inclusive). For example, in the list [14, 1, 22, 17, 36, 7, -43, 5], for minimum value 4 and maximum value 17, there are four elements whose values fall between 4 and 17. 
def count_betw(lst, mini, maxi):
    count = 0
    for x in lst:
        if mini <= x <= maxi:
            count = count + 1
    return count
    

list_1 = [4, 7, 1, 4, 11, 53, 12, 4, 84, 23]
min_value = 1
max_value = 11
result = count_betw(list_1, min_value, max_value )
print(result)

6

In [12]:
#10  Write a program that accepts a list of real numbers and prints true if the list is in sorted (nondecreasing) order and false otherwise. For example, if lists named list1 and list2 store [16.1, 12.3, 22.2, 14.4] and [1.5, 4.3, 7.0, 19.5, 25.1, 46.2] respectively, the program should print false for list1 and true for list2 respectively. Assume the list has at least one element. A one-element list is sorted. 
def sort_list(lst):
    sorted_list = sorted(lst, reverse = True)
    
    return sorted_list
list_1 = [4, 7, 1, 4, 11, 53, 12, 4, 84, 23]
result = sort_list(list_1)
print(result)

[84, 53, 23, 12, 11, 7, 4, 4, 4, 1]

Exercise 3

In [16]:
#1 . Write a program to produce the following output using for loop 
 #+----+ 
 #\    / 
 #/    \ 
 #\    / 
 #/    \ 
 #\    / 
 #/    \ 
 #+----+
    
for i in range(5):
    if i == 0 or i == 4:
        print("+----+")
    else:
        print("\\    /")
        print("/    \\")

+----+
\    /
/    \
\    /
/    \
\    /
/    \
+----+

In [17]:
#2 Write a program to produce the following output using for loop 
 #********** 
 #********** 
 #********** 
 #********** 
 #********** 
for i in range(5):
    print('**********')

**********
**********
**********
**********
**********

In [26]:
#3  Complete the code for the following for loop: so that it prints the following numbers, one per line:   
for i in range(1,7):
    a = i
    b = i * 2
    c = i * 15 - 11
    d = 40 - 10 * i
    e = 4 * i - 11
    f = 97 - 3 * (i - 1)
    g = (18 * (i - 1)) - 4
    print(a,b,c,d,e,f,g)

1 2 4 30 -7 97 -4
2 4 19 20 -3 94 14
3 6 34 10 1 91 32
4 8 49 0 5 88 50
5 10 64 -10 9 85 68
6 12 79 -20 13 82 86

In [27]:
#4  Consider the following method for converting milliseconds into days: 
#// converts milliseconds to days def toDays(millis):      return millis / 1000.0 / 60.0 / 60.0 / 24.0 
 
#Write a similar method named area that takes as a parameter the radius of a circle and that returns the area of the circle. For example, the call  area(2.0);  
#should return  
#12.566370614359172.  
#Recall that area can be computed as π times the radius squared and that Python has a constant called math.pi 
import math

def area(radius):
    return math.pi * radius ** 2

# Example usage:
radius = 2.0
result = area(radius)
print(result)

12.566370614359172

In [28]:
#5Write a program to produce the following output using for loops. Then use a class constant to make it possible to change the number of lines in the figure. 
#1 
#22
#333 
#4444 
#55555 
#666666
#7777777 

class Figure:
    NUM_LINES = 7  
    
    @classmethod
    def print_figure(cls):
        for i in range(1, cls.NUM_LINES + 1):
            for j in range(i):
                print(i, end="")
            print()
Figure.print_figure()

1
22
333
4444
55555
666666
7777777

In [29]:
#6 Write a method named pay that accepts two parameters: a real number for a TA's salary, and an integer for the number of hours the TA worked this week. The method should return how much money to pay the TA. For example, the call  
#pay(5.50, 6)  
#should return  
#33.0.  
#The TA should receive "overtime" pay of 1 ½ normal salary for any hours above 8. For example, the call pay(4.00, 11) should return (4.00 * 8) + (6.00 * 3) or 50.0.  

def pay(salary, hours_worked):
    normal_hours = min(8, hours_worked)
    overtime_hours = max(0, hours_worked - 8)
    overtime_rate = 1.5

    total_payment = (normal_hours * salary) + (overtime_hours * salary * overtime_rate)
    return total_payment


result = pay(5.50, 6)
print(result)  

result = pay(4.00, 11)
print(result)

33.0
50.0

In [ ]:
#7
low = int(input("low? "))
high = int(input("high? "))
sum_result = 0

for i in range(low, high):
    sum_result += i

print("sum = ", sum_result)

In [ ]:
#8
total_sum = 0

while True:
    user_input = input("Enter a number (type 0 to stop): ")
    
    if user_input == '0':
        break
    
    try:
        number = float(user_input)
        total_sum += number
    except ValueError:
        print("Invalid input. Please enter a valid number.")

print("Sum of the numbers: ", total_sum)

In [ ]:
#9
total_sum = 0

while True:
    user_input = input("Enter a number (type -1 to stop): ")
    
    if user_input == '-1':
        break
    
    try:
        number = float(user_input)
        total_sum += number
    except ValueError:
        print("Invalid input. Please enter a valid number.")

print("Sum of the numbers: ", total_sum)

In [ ]:
#10
def repl(s, repetitions):
    if repetitions <= 0:
        return ""
    else:
        return s * repetitions


result = repl("hello", 3)
print(result)

In [ ]:
#11
def printRange(start, end):
    if start < end:
        for i in range(start, end + 1):
            print(i, end=" ")
    elif start > end:
        for i in range(start, end - 1, -1):
            print(i, end=" ")
    else:
        print(start)


printRange(2, 7)

printRange(19, 11)

printRange(5, 5)

In [1]:
#classwork
#Print the First 10 natural numbers

for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
print("====The First 10 Natural Numbers====")

====The First 10 Natural Numbers====

In [3]:
# Count the total number of digits in a number
number = str(123)
print('Number of digits: ' + str(len(number)))

Number of digits: 3

In [4]:
number = int(input('enter your number: '))
number = str(number)
print ('Number of digits: ' + str(len(number)))

enter your number: 56
Number of digits: 2

In [5]:
num = 3452 #(this is just a guess number)
count = 0

while num != 0:
    num //= 10
    count += 1

print("Number of digits: " + str(count))

Number of digits: 4

In [6]:
#Write a program to display all prime numbers within a range
for x in range(1,20,2):
  print(x)

1
3
5
7
9
11
13
15
17
19

In [ ]:
#List 20 methods
len()
type()
str()
int()
float()
list()
tuple()
dict()
set()
max()
min()
sum()
sorted()
join()
append()
pop()
replace()
lower()
upper()
strip()